# Java class files
*.class

# Eclipse project files
.classpath
.project
.settings/
.springBeans

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

.DS_Store/
/target

/target
/target/
**/target/

.DS_Store

